{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="main" style="width:700px; display: block; margin: 0 auto;" width="700" cellspacing="0" cellpadding="0" border="0" align="center">
	  <div><img src="{% static 'reporting/logo.png' %}" /></div>
	  <h4 style="text-align:center;font-size: 14px; text-decoration: underline;">Details</h4>

      <table width="100%" cellspacing="0" cellpadding="0" border="0" align="center" style="margin-bottom: 20px;">
        <thead>
          <tr>
            <th style="padding-top: 12px;padding-bottom: 12px;text-align: center;background-color: rgba(10, 119, 250, 0.5);color: #000000;border: 1px solid #ddd;padding: 8px;width: 22%;">Details</th>
            <th style="padding-top: 12px;padding-bottom: 12px;text-align: center;background-color: rgba(10, 119, 250, 0.5);color: #000000;border: 1px solid #ddd;padding: 8px;">User 1</th>
            <th style="padding-top: 12px;padding-bottom: 12px;text-align: center;background-color: rgba(10, 119, 250, 0.5);color: #000000;border: 1px solid #ddd;padding: 8px;">User 2</th>
            <th style="padding-top: 12px;padding-bottom: 12px;text-align: center;background-color: rgba(10, 119, 250, 0.5);color: #000000;border: 1px solid #ddd;padding: 8px;">User 3</th>
          </tr>
        </thead>
        <tbody>
		{% for key , value in data.items %}
			<tr>
				<td style="border: 1px solid #ddd; padding: 8px;">{{ key }}</td>
				{% for each in value %}
					<td style="border: 1px solid #ddd; padding: 8px;">{{ each }}</td>
				{% endfor %}
		          </tr>
		{% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
